<p-carousel
  *ngIf="listGames.length > 0; else caroulselDefault"
  [value]="listGames"
  [numVisible]="1"
  [numScroll]="1"
  [responsiveOptions]="responsiveOptions"
  [circular]="true"
>
  <ng-template class="iframe" pTemplate="imagesAndVideos" let-image>
    <img [src]="image.photos[0].url" alt="" />
  </ng-template>
</p-carousel>

<ng-template #caroulselDefault>
  <p-carousel
    [value]="[1]"
    [numVisible]="1"
    [numScroll]="1"
    [responsiveOptions]="responsiveOptions"
    [circular]="true"
  >
    <ng-template class="iframe" pTemplate="imagesAndVideos">
      <img
        src="../../../assets/watchdogs-wallpaper.jpg"
        alt=""
        style="width: 100%"
      />
    </ng-template>
  </p-carousel>
</ng-template>
