<div class="container-fluid" *ngIf="gameDetail.game !== undefined">
  <div class="row">
    <div class="col-sm-12 d-flex justify-content-center home-div">
      <a routerLink="/home">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="white"
          class="bi bi-house-fill"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"
          />
          <path
            fill-rule="evenodd"
            d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"
          />
        </svg>
      </a>
      <span>|</span>
      <p>{{ gameDetail.game.title }}</p>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <p-carousel
          [value]="imagesAndVideos"
          [numVisible]="1"
          [numScroll]="1"
          [responsiveOptions]="responsiveOptions"
          [circular]="true"
        >
          <ng-template pTemplate="imagesAndVideos">
            <img class="carousel-image" [src]="imagesAndVideos[0].url" />
          </ng-template>
        </p-carousel>
      </div>
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-2">
            <div class="note">
              <h5>
                {{
                  gameDetail.game.rating.toFixed(1).replace(".", ",") + "/10"
                }}
              </h5>
            </div>
          </div>
          <div class="col-sm-8 title">
            <h4>{{ gameDetail.game.title }}</h4>
          </div>
        </div>
        <div class="row">
          <p>{{ gameDetail.game.description.substring(0, 90) + "..." }}</p>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <hr
              style="
                opacity: 1;
                width: 100%;
                text-align: center;
                margin-left: 0;
                height: 2px;
              "
            />
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 list-genres">
            <ul>
              <li>
                <p>
                  Genres: <span>{{ gameDetail.game.genres.join(", ") }}</span>
                </p>
              </li>
              <li>
                <p>
                  Total votes:<span> {{ gameDetail.game.totalVotes }}</span>
                </p>
              </li>
              <li>
                <p>
                  Platforms:
                  <span> {{ gameDetail.game.platforms.join(", ") }}</span>
                </p>
              </li>
              <li>
                <p>
                  Tags: <span>{{ gameDetail.game.tags.join(", ") }}</span>
                </p>
              </li>
            </ul>
            <hr
              style="
                opacity: 1;
                width: 100%;
                text-align: right;
                margin-left: 0;
                height: 2px;
              "
            />
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 vote-section">
            <h4>
              Medium Price:
              <span class="price-span">{{
                gameDetail.game.mediumPrice | currency
              }}</span>
            </h4>

            <p>
              <span class="release"
                >Release date:
                {{
                  gameDetail.game.updatedAt
                    .substring(0, 10)
                    .replaceAll("-", "/")
                }}</span
              >
            </p>
          </div>
        </div>
        <div class="col-sm-12 btn-vote">
          <button>VOTE NOW</button>
          <hr
            class="line-vote-btn"
            style="
              opacity: 1;
              width: 100%;
              text-align: right;
              margin-left: 0;
              height: 2px;
            "
          />
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 d-flex justify-content-center description-title">
      <h6>DESCRIPTION</h6>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-10 d-flex justify-content-center description-text">
      <p>
        {{ gameDetail.game.description }}
      </p>
    </div>
  </div>
</div>
