.home-div
  padding: 20px 0 20px 0
  span
    margin: 0 10px
    color: white
  p
    color: white
.cad-section
  text-align: center
  color: white
.line1
  display: flex

.list-input > ul >li > div
  display: flex

.p-multiselect .p-multiselect-label
