<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-12 d-flex justify-content-center home-div">
        <a routerLink="/home">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="white"
            class="bi bi-house-fill"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"
            />
            <path
              fill-rule="evenodd"
              d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"
            />
          </svg>
        </a>
        <span>|</span>
        <p>New Game Name</p>
      </div>
      <div class="row cad-section">
        <div class="col-sm-6">
          <h1>Imagem Section</h1>
        </div>
        <div class="col-sm-6">
          <div class="form">
            <form>
              <div class="form-group">
                <div class="line1">
                  <p>7,5/10</p>
                  <input
                    type="text"
                    class="form-control"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                    placeholder="Enter the game name"
                  />
                </div>
                <div class="line2">
                  <input
                    type="text"
                    class="form-control"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                    placeholder="Enter resume game here"
                  />
                  <hr />
                </div>
                <div class="row">
                  <div class="col-sm-6 list-input">
                    <ul>
                      <li>
                        <div>
                          <label for="line2">Genres: </label>
                          <div class="field col-sm-12">
                            <p-multiSelect
                              inputId="multiselect"
                              [options]="genres"
                              [filter]="true"
                              optionLabel="name"
                              class="ng-invalid ng-dirty"
                              placeholder="Select platforms"
                              id="fil"
                            ></p-multiSelect>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div>
                          <label for="line2">Platforms: </label>
                          <div class="field col-12 md:col-4">
                            <p-multiSelect
                              inputId="multiselect"
                              [options]="plataforms"
                              [filter]="true"
                              optionLabel="name"
                              class="ng-invalid ng-dirty"
                              placeholder="Select platforms"
                            ></p-multiSelect>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div>
                          <label for="line2">Tags: </label>
                          <div class="field col-12 md:col-4">
                            <p-chips
                              inputId="chips"
                              class="ng-invalid ng-dirty"
                              placeholder="Chips"
                            ></p-chips>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div>
                          <label for="line2">Medium price: </label>
                          <div class="field col-12 md:col-4">
                            <p-inputNumber
                              mode="currency"
                              currency="BRL"
                              locale="pt-BR"
                              placeholder="Medium price"
                            ></p-inputNumber>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div>
                          <label for="line2">Release Year: </label>
                          <div class="field col-12 md:col-4">
                            <p-inputMask
                              inputId="inputmask"
                              mask="9999"
                              class="ng-invalid ng-dirty"
                              placeholder="Enter release year"
                            ></p-inputMask>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div>
                          <label for="line2">Description: </label>
                          <div class="field col-12 md:col-4">
                            <textarea
                              inputId="textarea"
                              rows="3"
                              cols="30"
                              pInputTextarea
                              class="ng-invalid ng-dirty"
                              placeholder="Enter description game"
                            ></textarea>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-6"></div>
      <div class="col-sm-6">
        <button>CANCEL</button>
        <button>SAVE GAME</button>
      </div>
    </div>
  </div>
</div>
