<app-carousel></app-carousel>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 d-flex justify-content-center">
      <img
        src="https://s2.glbimg.com/5KUppsZ4Rj5i9fK-gUAnvUKXExQ=/1200x/smart/filters:cover():strip_icc()/i.s3.glbimg.com/v1/AUTH_08fbf48bc0524877943fe86e43087e7a/internal_photos/bs/2019/O/E/azkRlSSliAweUNF5DEVQ/a-plague-tale-innocence.jpg"
        alt=""
      />
      <h4>COMMODI CONSEQUATUR</h4>
      <h4>$241.99</h4>
      <h6>7,5/10</h6>
    </div>
  </div>
</div>
