<app-carousel *ngIf="isLoged == false; else loged"></app-carousel>
<div class="container-fluid" *ngIf="listGames[0] !== undefined">
  <div class="row">
    <div
      class="col-sm-3 d-flex justify-content-center box-div"
      *ngFor="let game of listGames"
    >
      <a [routerLink]="['/details', game._id]">
        <div class="box-image">
          <img
            *ngIf="game.photos.length > 0; else defaultImage"
            [src]="game.photos[0].url"
            alt="Imagem do jogo"
          />
        </div>

        <h4>{{ game.title ? game.title : "Sem título" }}</h4>
        <h4>
          {{
            game.mediumPrice ? (game.mediumPrice | currency) : "Não revelado"
          }}
        </h4>
        <h6>
          {{
            game.rating
              ? game.rating.toFixed(1).replace(".", ",") + "/10"
              : "-/10"
          }}
        </h6>
      </a>
    </div>
  </div>
</div>

<ng-template #defaultImage>
  <img
    src="https://yt3.ggpht.com/ytc/AKedOLQ4PeDWAyYQTr-e3onekYiP4acmBxY0GAvWSvx6=s900-c-k-c0x00ffffff-no-rj"
    alt="Imagem do jogo"
  />
</ng-template>

<ng-template #loged>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 d-flex portal">
        <div class="col-sm-7 search-box">
          <h1>Games</h1>
          <h6>Games manager portal</h6>
        </div>
        <div class="col-sm-5 search">
          <input type="text" placeholder="Search from..." />
          <button routerLink="/new-game">NEW GAME</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
