.row
  color: white
  width: 80%
  margin: 0 auto
  margin-bottom: 20px
  img
    width: 80%
    height: 300px
    margin: auto

.col-sm-3
  margin: 0 auto
  margin-bottom: 2%
  display: flex
  flex-direction: column
  text-align: center
  h4,h6
    margin: 2% 0
    font-size: 1rem
    text-align: center
  h4
    &:nth-of-type(2)
      font-weight: bold
      font-size: 1.2rem
  h6
    width: 20%
    margin: 2% auto
    border-radius: 20px
    padding: 2px
    background-color: var(--color-red)
