<div class="container-fluid" *ngIf="!isLogado">
  <div class="row">
    <div class="col">
      <form>
        <div class="col-md-3 form-container d-flex flex-column">
          <h2>SIGN IN</h2>
          <p>Insert your Account Information</p>
          <input
            type="email"
            required
            placeholder="Username or Email"
            (change)="getEmail($event)"
          />
          <input
            type="password"
            required
            placeholder="Password"
            (change)="getPassword($event)"
          />
          <button type="submit" (click)="loginUser($event)">
            Login your Account
          </button>
          <p class="alert-login" *ngIf="messageLogin !== ''">
            " *{{ messageLogin }}* "
          </p>
          <p>
            No Account?
            <span
              ><a href="mailto:fabio@tindin.com.br"
                >Send email fabio@tindin.com.br</a
              ></span
            >
          </p>
        </div>
      </form>
    </div>
  </div>
</div>

<p-dialog header="Login" [(visible)]="display">
  Realizando Login... Por favor, aguarde...
  <ng-template pTemplate="footer">
    <p-button
      icon="pi pi-check"
      (click)="display = false"
      label="Sim"
      styleClass="p-button-text"
    ></p-button>
  </ng-template>
</p-dialog>
