/* You can add global styles to this file, and also import other style files */
*
  margin: 0
  padding: 0
  box-sizing: border-box

html, body
  height: 100%
  background-color: #1B1919 !important
:root
  --color-red: #FC4444

/* CAROUSEL CSS NG COMPONENTS

.p-carousel-item
  text-align: center
  display: flex
.p-carousel-next,
.p-carousel-prev
  background-color: white !important
  span
    color: var(--color-red)
    font-size: 1.5rem
    font-weight: bold
    padding: 10px
    border-radius: 0 !important
    border: 1px solid var(--color-red)
    &:hover
      background-color: var(--color-red)
      color: white
      transition: 0.3s

/* LIBRARY CSS NG COMPONENTS*/

.p-multiselect-item, .p-inputtext, .p-chips-multiple-container  .p-component, .p-multiselect-label, .p-multiselect-items-wrapper, .p-multiselect-panel, .p-multiselect-items, .p-multiselect-item, .p-highligh
  background-color: #3F403F !important
  color: white !important
  width: 100%
  span
    color: white !important
    max-width: 400px !important
.p-multiselect .p-multiselect-trigger, .p-chips
  background: #414141d9 !important
  color: white !important
  width: 100%
.p-multiselect-panel .p-multiselect-header, .p-chips
  width: 100%
  background-color: #3F403F !important
  color: white !important
  &::placeholder
    color: white !important
    opacity: 0.7
.p-multiselect.ng-dirty.ng-invalid > .p-multiselect
  width: 100%
  border: 3px solid var(--color-red) !important
  color: white !important
  &::placeholder
    color: white !important
    opacity: 0.7
#chips
  border: 0 !important
  color: white !important
  &::placeholder
    color: white !important
    opacity: 0.7
.p-chips
  outline: 0
  width: 100%
  &::placeholder
    color: white !important
    opacity: 0.7
.p-multiselect
  border-color: #e24c4c !important
  border: 3px solid var(--color-red) !important
  width: 100%
  &::placeholder
    color: white !important
    opacity: 0.7
.p-chips-token
  background-color: #8e8e8e !important
  color: white
.p-inputwrapper
  width: 100% !important
.p-inputnumber-input
  border: 3px solid var(--color-red) !important
.p-inputtext
  border: 3px solid var(--color-red) !important
